.nav-link {
  margin-left:222px;
}

.card-body {
  background-color: Cornsilk;

}

.card-title {
  color: #B8860B;
}

.container div{
   margin:0 auto;
   width: 100%;
}

h3 {
  text-align: center;
}

body {
  background-color: snow;
}
